.models_container {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    /*padding: 0 10px;*/
    /*transform: translateX(0);*/
    left: 0px;
    transition: 1s all linear;
    height: 175px;
    z-index: 999;
    /*overflow: hidden;*/
}

.model, .model2 {
    /*outline: 1px solid red;*/
    height: 175px;
    /*margin: 3px;*/
    position: absolute;
    transition: all 1s;
    width: 25%;
    background-color: #fff;
}

.model{
    z-index: 1000;
}

.model2{
    outline: 1px solid red;
}

.model img, .model2 img {
    display: block;
    height: 100%;
    object-fit: contain;
}

.models_slider{
    position: absolute;
    width: 100%;
    max-width: 1400px;
    background-color: white;
    padding: 20px 0;
    height: 225px;
    z-index: 999;
    overflow: hidden;
}